
 /*Configuracion inicial de la página*/

 * {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 margin:0;
 padding: 0;
}

body
{
 background-image: url('../assets/imgs/unicornio.jpg');
 background-position: right; /*Posicionamos el fondo en el centro*/
 background-repeat:no-repeat;/*Indicamos que no se repita el fondo*/
 background-size: 25%;/*Ajustamos el tamaño de la imagen de fondo*/
 font-family: 'Monoton', cursive;
}



h1{
 margin:50px;
 text-align: center;
 text-decoration:underline;
}


select{
 background-color:#99f;
 color: white;
 text-align: center;
}

#options {
 margin-top: 50px;
 padding-left:46%;
}


#grid {
 text-align: center;
 width: 100%;
}

.images{
 display:inline-block;
 margin: 20px;
}

.images img{
 height:300px;
 max-height:100%;
 max-width: 100%;
 width:300px;
}

/*Configuracion de los filtros según las opciones de imagenes*/

.grayscale img{
 -ms-filter: grayscale(100%);
 -moz-filter: grayscale(100%);
 -o-filter:grayscale(100%);
 -webkit-filter: grayscale(100%);
 filter:grayscale(100%);
}

.sepia img{
 -ms-filter: sepia(100%);
 -moz-filter: sepia(100%);
 -o-filter:sepia(100%);
 -webkit-filter: sepia(100%);
 filter:sepia(100%);
}

.invert img{
  -ms-filter:invert(100%);
  -moz-filter: invert(100%);
  -o-filter:invert(100%);
  -webkit-filter: invert(100%);
  filter:invert(100%);
}